<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
  window.logo = "<%= image_url("https://www.123rf.com/stock-photo/cat_head_silhouette.html?sti=m0dxijcds0rkyhb8fh|&mediapopup=30330242") %>"
</script>

<main id="root"></main>

<!--
<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>
-->