// Place all the styles related to the api/pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pin-buffer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  //background: linear-gradient(0deg, white 0%, #EFEFEF 100%);
  background: rgb(225, 193, 220);
  //opacity: 0.2;
  //background: hsla(0, 100%, 30%, 0.3);
  height: 100%;
}

.pin-panel {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  background-color: rgba(80,80,80,.25);
  border-radius: 8px;
  //box-shadow: #EFEFEF 0px 4px 4px;
  box-sizing: border-box;
  height: fit-content;
  margin: 40px 0px;
  padding: 16px 24px;
  width: 630px;

  .pin-header {
    box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
    justify-content: space-between;
    width: 100%;

    i {
      font-size: 18px;
    }
  }

  h3 {
    color:  #444444;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 12px 0px;
  }

 .pin-image {
    box-sizing: border-box;
    padding: 12px 16px;
    width: 100%;
 }
  img {
    border-radius: 8px;
  }

  h5 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: normal;
    padding: 12px 0px;
    margin: 0px;
  }

  .pin-link-box {
    border-bottom: 1px solid #EFEFEF;
  }

  .pin-link {
    box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
    align-items: center;
    background-color: #EFEFEF;
    border-radius: 12px;
    box-sizing: border-box;
    color:  #444444;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 32px;
    justify-content: center;
    margin: 12px 0px;
    padding: 4px;
    width: 582px;

    &:hover {
      background-color:#E2E2E2;
    }

    i {
      margin-right: 8px;
    }
  }

  .pin-footer {
    box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 0px;
    width: 582px;

    .user-thumbnail {
      border-radius: 50%;
      height: 40px;
      margin-right: 8px;
      width: 40px;
    }

    a {
      cursor: pointer;
      font-weight: bold;
      margin-right: 5px;
    }

    p {
      margin-right: 5px;
    }
  }
}

.save-btn{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 40px;
  padding: 10px 14px;
  font-size: 15px;
  width: 10%;

  &:hover {
    background-color: red;
  }

}