.pin-container {
  position: absolute;
  top: 90px;
  column-count: 5;
  column-gap: 24px;
  margin: 0 24px 24px 24px;
  z-index: 0;
}

// .pin-index-box {
//   display: block;
//   display: inline-block;
//   width: 236px;
//   margin: 0;
//   overflow: hidden;
//   cursor: zoom-in;
// }

// .pin-index-box:hover img {
//   filter: brightness(90%);
// }

.pin-index-box:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 24px;
}

.pin-index-box img{
  width: 100%;
  border-radius: 24px;
}

.pin-index-image {
  border-radius: 24px;
  position: relative;
}

.pin-index-title {
  width: 100%;
  padding-top: 2px;
  padding-left: 8px;
  //background-color: white;
  margin-bottom: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
  color: rgb(87, 85, 85);
}
//////////////////////////////////////////////////

.pin-index {
  display: grid;
  grid-template-columns: repeat(auto-fill, 256px);
  grid-auto-rows: 10px;
  min-width: 550px;
  width: 100%;
  justify-items: center;
  justify-content: center;
}

// .p-index-frame{
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   box-sizing: border-box;
//   align-items: flex-start;
//   height: 350px;
//   width: 252px;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//   padding: 8px;
//   margin-bottom: 12px;

  // &:hover {
  //   background-color: #EBEBEB;;
  //   border-radius: 8px;
  // }

  .p-title{
    box-sizing: border-box;
    font-size: 14px;
    padding: 8px;
    width: 200px;
    font-weight: bold;

    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
//}

// .p-image-box {
//   cursor: zoom-in;
//   background-color: #8E8E8E;
//   border-radius: 8px;
//   box-sizing: border-box;
//   width: 236px;

//   .p-picture {
//     border-radius: 8px;
//   }
// }

.p-links{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  //background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  box-sizing: border-box;
  //color: #444444;
  color: white;
  cursor: zoom-in;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  justify-content: space-between;
  padding: 10px;
  position: absolute;
  bottom: 15px;
  z-index: 5;
  //width: 236px;
  font-size: 10px;
}

.top-links {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: cneter;
    width: 216px;

    i {
      font-size: 20px;
    }

    .save-btn{
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: red;
      border-radius: 10%;
      height: 30px;
      width: 30px;

      &:hover {
        background-color:  #E2E2E2;
      }
    }
  }

  .pin-index.container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.pin-index#grid-container {
  position: absolute;
  @media (max-width: 755px) and (min-width: 0px) {
    width: 504px;
  }
  @media (max-width: 1007px) and (min-width: 756px) {
    width: 756px;
  }
  @media (max-width: 1259px) and (min-width: 1008px) {
    width: 1008px;
  }
  @media (max-width: 1511px) and (min-width: 1260px) {
    width: 1260px;
  }
  @media (max-width: 1763px) and (min-width: 1512px) {
    width: 1512px;
  }
  @media (max-width: 2015px) and (min-width: 1764px) {
    width: 1764px;
  }
  @media (max-width: 2267px) and (min-width: 2016px) {
    width: 2016px;
  }
  @media (max-width: 2519px) and (min-width: 2268px) {
    width: 2268px;
  }
  @media (max-width: 2771px) and (min-width: 2520px) {
    width: 2520px;
  }
  @media (max-width: 3023px) and (min-width: 2772px) {
    width: 2772px;
  }
  @media (max-width: 3275px) and (min-width: 3024px) {
    width: 3024px;
  }
  @media (max-width: 3527px) and (min-width: 3276px) {
    width: 3276px;
  } 
}

.pin-index#grid {
  width: 100%;
  min-width: 550px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(252px,1fr));
  grid-row-gap: 10px;
  grid-auto-rows: 2px;
  justify-items: center;
  justify-content: center;
}




