.pin-container {
  position: absolute;
  top: 90px;
  column-count: 5;
  column-gap: 24px;
  margin: 0 24px 24px 24px;
  z-index: 0;
}

.pin-index-box {
  display: block;
  display: inline-block;
  width: 236px;
  margin: 0;
  overflow: hidden;
}

.pin-index-box:hover img {
  filter: brightness(90%);
}

.pin-index-box img{
  width: 100%;
  border-radius: 24px;
}

.pin-index-image {
  border-radius: 24px;
}

.pin-index-title {
  width: 100%;
  padding-top: 2px;
  padding-left: 8px;
  //background-color: white;
  margin-bottom: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
  color: rgb(87, 85, 85);
}

