.profile-buffer {
  display: flex;
  justify-content: center;
  min-height: 170px;
}

.profile-box {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px;
  padding: 12px;
  width: 100%;
  margin: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  background: transparent;

  .profile-nav {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 64px;
    justify-content: flex-start;
    margin-bottom: 4px;
    margin-top: 4px;
    max-width: 800px;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 100%;
    margin: 0px;
    flex-direction: row;
  }

  .profile-nav-guest {
    align-items: center;
    box-sizing: border-box;
    height: 64px;
    justify-content: flex-end;
    margin-bottom: 4px;
    margin-top: 25px;
    max-width: 800px;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 100%;

    .profile-image {
      border-radius: 50%;
      cursor: pointer;
      height: 40px;
      margin-right: 8px;
      width: 40px;
    }

    .profile-standin {
      background-color: white;
      border: 2px dashed rgb(218, 218, 218);
      border-radius: 50%;
      cursor: pointer;
      height: 40px;
      justify-content: center;
      margin-right: 8px;
      width: 40px;

      p {
        color: gray;
        //font-family: $stylized;
        font-size: 24px;
        font-weight: bold;
        line-height: 38px;
        text-align: center;
      }
    }

  }

  .profile-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
  }
}

.profile {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
}


.prof-buttons {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  padding: 4px;
  color: black;
  background-color: transparent;
  margin: 0px;

  &:hover {
  background-color: rgb(219, 214, 214);
  }
}

.profile-buttons {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 64px;
  justify-content: flex-start;
  margin-bottom: 4px;
  margin-top: 4px;
  max-width: 800px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.p2-fas {
  color: gray;
  font-size: 24px;
}

.profile-body {
  min-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-name {
  color:#333333;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -.4px;
}

.profile-follows {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 400;
  justify-content: flex-start;
  letter-spacing: -.4px;
  text-align: left;
  //margin-bottom: 14px;
  hyphens: auto;
  letter-spacing: -.4px;
  word-wrap: break-word;
  color: #333;

  .bullet {
    margin: 0px 4px;
  }
}

.profile-description {
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 420;
  hyphens: auto;
  letter-spacing: -.3px;
  text-align: left;
  word-wrap: break-word;
  text-align: left;
  color: #333;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-font-smoothing: antialiased;
}


.profile-image-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
  position: relative;
  align-items: center;
  background-color: gray;
  border-radius: 50%;
  height: 106px !important;
  width: 106px !important;
  justify-content: center;
}

.profile-image {
    width: 106px;
    position: absolute;
    border-radius: 50%;
    height: 106px;
    object-fit: cover;
    //margin-left: -8px;
  }

  .profile-standin {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 50%;
    border: 2px dashed rgb(218, 218, 218);
    height: 85px;
    justify-content: center;
    width: 85px;

    p {
      color: gray;
      //font-family: $stylized;
      font-size: 53px;
      font-weight: bold;
      line-height: 85px;
      text-align: center;
    }
  }


.profile-buttons {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 64px;
  justify-content: space-between;
  //when margin has two elements, first is top bottom and 2nd is left right
  margin: 4px auto;
  //width: 23%;
  // margin-bottom: 4px;
  // margin-top: 4px;
  max-width: 800px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.oval-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 999px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700px;
  height: 40px;
  justify-content: center;
  padding: 8px 16px;
  background-color: transparent;
}

.oval-link:hover {
  //background-color: rgba(80,80,80,.25);
  text-decoration: underline;
}

.link-selected {
  background-color: #efefef !important;
}

.prof-plus {
  position: relative;
  &:hover{
    cursor: pointer;
  }
}

.profile-visible {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  //border: 1px solid  #EBEBEB;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .18);
  box-sizing: border-box;
  color: #444444;
  left: -20px;
  position: absolute;
  top: 56px;
  width: 232px;
}

.dropdown-item {
    color: black;
    margin: 0px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: flex-start;
    align-items: center;
    height: 42px;
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    letter-spacing: -.4px;
    font-weight: bold;
    border-radius: 6px;

  &:hover {
    background-color: #EFEFEF;
  }
}



// EDIT PROFILE 
// .buttons-container {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
// }

// .button-container {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
// }

#settings-container-padding {
  padding-top: 65px
}

#settings-container {
  box-sizing: border-box;
  margin-top: 20px;
  flex-direction: row;
  display: flex;
}

#back-button-width {
  width: 8.33333%;
}

#back-button-padding {
  padding-left: 20px;
  box-sizing: border-box;
}

#back-button-position {
  top: 65px;
  position: fixed;
  z-index: 3;
  width: 60px;
}

#back-button-container {
  box-sizing: border-box;
  left: 0px;
  position: fixed;
  margin-left: 24px;
  margin-top: 20px;
  padding: 4px;
}

#user-profile-link {
  display: block;
  border: none;
  padding: 0px;
  cursor: pointer;
  background: transparent;
  outline: none;
  border-radius: 50%;
}

#back-icon-container-shadow {
  box-sizing: border-box;
  border-radius: 50%;
  &:hover {
    background-color: #E2E2E2
  }
}

#back-icon-container {
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#back-icon {
  color: #333;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  overflow: hidden;
}

#edit-profile-form-width {
  width: 83.33333%
}

#edit-profile-form-outer-container {
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#edit-profile-form-inner-container {
  font-family: sans-serif;
  box-sizing: border-box;
  margin-bottom: 48px;
}

#edit-profile-form {
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
}

.edit-profile#header-border {
  box-sizing: border-box;
}

.edit-profile#header-flex {
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;  
}

.edit-profile#title-container {
  width: 58.3333%
}

.edit-profile#title {
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
}

.edit-profile#title-label {
  color: #333;
  hyphens: auto;
  word-wrap: break-word;
  letter-spacing: -.4px;
  -webkit-font-smoothing: antialiased;
  font-size: 36px;
  font-weight: bold;
  margin: 0px;
}

.edit-profile#title-spacing {
  box-sizing: border-box;
  margin-top: 8px;
}

.edit-profile#subtitle {
  text-align: left;
  color: #333;
  font-size: 14px;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 400;
  letter-spacing: -.4px;
  -webkit-font-smoothing: antialiased;
}

.edit-profile#button-container {
  width: 41.66667%
}

.edit-profile#buttons {
  box-sizing: border-box;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  display: flex;
}
#buttons {
  box-sizing: border-box;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  display: flex;
  //align-content: ;
}

.edit-profile.button-container {
  box-sizing: border-box;
  padding: 0px 4px;
  outline: none;
}

.edit-profile.button {
  // &.cancel {
  //   background-color: #efefef;
  //   &:hover {
  //     background-color: #E2E2E2;
  //   }
  // }
  &.done { 
    background-color: #e60023;
    margin-bottom: 10px;
    height:40px;
    &:hover {
      background-color: #ad081b;
    }
  }
  box-sizing: border-box;
  min-height: 40px;
  display: inline-block;
  border: 0px;
  border-radius: 8px;
  cursor: default;
  padding: 10px 14px;
  &:hover {
    background-color: #E2E2E2;
  }
  &.disabled {
    background-color: #efefef;
    color: graytext;
    pointer-events: none;
    margin-bottom: 10px;
    height: 40px;
  }
}

.edit-profile.button-label {
  &.cancel {
    color: #333;
  }
  &.done { 
    color: #fff;
  }
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  letter-spacing: -.4px;
  -webkit-font-smoothing: antialiased;
  cursor: default;
  &.disabled {
    color: #8e8e8e;
  }
}

.edit-profile#spacer-container {
  box-sizing: border-box;
  margin-top: 48px;
  margin-bottom: 4px;
}

.edit-profile#spacer {
  text-align: left;
  color: #333;
  font-size: 16px;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 400;
  letter-spacing: -.4px;
  -webkit-font-smoothing: antialiased;
}

.edit-profile#photo-change-container {
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.edit-profile#photo-container-size {
  height: 75px;
  width: 75px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 4px;
}

.edit-profile#photo-container-border {
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
  border-radius: 50%;
}

.edit-profile#photo-frame-container {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  will-change: transform
}

.edit-profile#photo-frame {
  background-color: rgb(239, 239, 239);
  padding-bottom: 100%;
  box-sizing: border-box;
  position: relative;
  //text-align: center;
}

.edit-profile#photo {
  position: absolute;
  color: transparent;
  height: 100%;
  max-height: 100%;
  //width: auto;
  width: 100%;
  margin: auto;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  object-fit: cover;
}

.fa-user-circle#photo {
  color: #8e8e8e;
  width: 100%;
  position: absolute;
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
  border: 0px;
}

.edit-profile#change-photo-button {
  margin-left: 12px;
  box-sizing: border-box;
}

.edit-profile.button#change-button {
  display: none;
}

.edit-profile.button#change-photo {
  background-color: #efefef;
  box-sizing: border-box;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  border: 0px;
  border-radius: 8px;
  padding: 10px 14px;
  &:hover {
    background-color: #e2e2e2;
  }
}

.edit-profile.button-label#change-photo {
  color: #333;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  letter-spacing: -.4px;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

.edit-profile#name-container {
  width: 100%;
}

.edit-profile#full-name {
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
}

.edit-profile#first-name-wrapper,
.edit-profile#last-name-wrapper {
  width: 50%;
}

.edit-profile#first-name-container {
  margin-right: 4px;
  flex: 1 1 auto;
  min-height: 0px;
  min-width: 0px;
  box-sizing: border-box;
  margin-top: 28px;
  flex-direction: column;
  display: flex;
}

.edit-profile#last-name-container {
  margin-left: 4px;
  flex: 1 1 auto;
  min-height: 0px;
  min-width: 0px;
  box-sizing: border-box;
  margin-top: 28px;
  flex-direction: column;
  display: flex;
}

.edit-profile.field-container {
  box-sizing: border-box
}

.edit-profile.label-container {
  box-sizing: border-box;
  margin-bottom: 4px;
}

.edit-profile.label {
  cursor: pointer;
  text-align: left;
  color: #333;
  font-size: 16px;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 400;
  letter-spacing: -.4px;
  -webkit-font-smoothing: antialiased;
}

.edit-profile.input {
  cursor: text;
  border-color: #8e8e8e;
  -webkit-appearance: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding: 8px 14px;
  color: #333;
  background-color: #fff;
  width: 100%;
  font-size: 16px;
  letter-spacing: -.4px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  min-height: 40px; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.edit-profile#username-container {
  box-sizing: border-box;
  margin-top: 28px;
}

.edit-profile.field-container#username {
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
}

.edit-profile#website-username {
  margin-right: 4px;
  align-items: center;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
}

.edit-profile#website {
  text-align: left;
  color: #333;
  font-size: 16px;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 400;
  letter-spacing: -.4px;
  -webkit-font-smoothing: antialiased;
}

.edit-profile#username {
  box-sizing: border-box;
  margin-left: 4px;
}

.edit-profile#email-container {
  box-sizing: border-box;
  margin-top: 28px;
}

.edit-profile#description-container {
  box-sizing: border-box;
  margin-top: 28px;
}

.edit-profile#field-container#description {
  padding: 8px 0px;
}

.edit-profile#location-container {
  box-sizing: border-box;
  margin-top: 28px;
}

.cancel-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #EFEFEF;
  border-radius: 8px;
  color: #333333;
  font-size: 15px;
  font-weight: bold;
  margin-left: 8px;
  padding: 5.5px 4px;
  margin: 0px;
  align-items: center;

  &:hover {
    background-color:#E2E2E2;
  }
}

.profile-name-initial {
  background-color: #8e8e8e;
  width: 106px;
  border-radius: 50%;
  height: 106px;
  object-fit: cover;
  justify-content: center;
}

.initial {
  //background-color: #8e8e8e;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: hsla(0, 100%, 30%, 0.3);
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  height: 106px;
  align-content: center;
  line-height: 1.3;
}

.space {
  margin-top: 30px;
}
