
.boardpin-form {
  background-color: white;
  border-radius: 8px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-height: 560px;
  width: 730px;

  .boardpin-header {
    box-sizing: border-box;
    padding: 20px 100px;
    position: relative;
    width: 100%;
    margin-top: 17px;

    button {
      left: 385px;
      position: absolute;
    }

    
  }
}

.boardpin-body {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 17px;
}

.boardpin-left {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  width: 300px;

  .boardpin-pic {
    margin-bottom: 12px;
    width: 216px;
    max-height: 335px;
  }

  .pin-title {
    .input-title {
      //align-items: center;
      font-size: 20px;
      text-align: center;
      width: 216px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .input-title:focus {
      outline: none !important;
      box-shadow: 0 0 10px #719ECE;
    }
  }
}

.boardpin-right {
  width: 430px;

  .board-scroll-container-2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 520px;
  overflow: auto;
  width: 420px;

  .board-option {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 52px;
    justify-content: space-between;
    min-height: 52px;
    overflow: auto;
    padding: 8px 24px;
    width: 420px;
    color:rgb(40,40,40);

    &:hover {
      background-color: #EFEFEF;
    }

    p {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 20px;
      font-weight: bold;
    }

    .select-btn {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: red;
      border-radius: 4px;
      color: white;
      font-size: 14px;
      font-weight: 500px;
      height: 36px;
      //padding: 8px 12px;
      width: 15%;
      margin-bottom: 8px;
    }
  }
}
}
.board-cancel-btn-spob {
  position: absolute;
  margin-top: -40px;
  margin-left: 298px;
  background-color: white;
  color:gray;  
  width: 40px;
  i {
    font-size: 24px;
    color: gray;
  }
}
h3 {
      font-size: 23px;
      margin: 0px;
      text-align: center;
      color: black;
    }

