.login-form-container {
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;

  .form-box {
    text-align: center;
    align-items: center;
    justify-content: center;   //not present
    // width: 430px;
    // height: 430px;
    min-width: 420px;
    min-height: 420px;
    border-radius: 10px;
    position: absolute;
    background-color: white; 
    padding: 10px 10px;

      h1 {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 10px;
        // color: rgb(112, 39, 96);
        // background: rgb(112, 39, 96);
        //background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
        background: rgb(112, 39, 96);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      
      h2 {
      font-size: 16px;
      //margin-bottom: 20px;
      align-items: center;
      text-align: center;
      width: 290px;
      }
  }
}

.demo-btn, .session-submit {
  background-color:black;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  color: pink;
  font-size: 15px;
  font-weight: 400;
  height: 36px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 8px 14px;
  text-align: center;
  width: 290px;
}

.login-input {
  margin: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.login-input:focus {
    outline: none !important;
    //border:2px outset red;
    box-shadow: 0 0 10px #719ECE;
}
//not present
.session-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  .login-input::placeholder {
    color: darkgrey;
  }
}

.logo-box {
  width: 410px;
  margin: 8px;
  padding-top: 3px;
  height: 49px;
}

.small-logo {
  width: 55px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.l-err {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  align-items: center;
  //display: flex;
  color: orangered;
  width: 420px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -.4px;
  margin-bottom: 10px;
}

html {
   background-color:rgb(225, 193, 220);
   //background-color: lightslategrey;
   text-size-adjust: none;
 }

 html, body {
    font-family: Apple Chancery;
    color: rgb(112, 39, 96);
    font-size: 25px;
    //height: 100%;
}

//leftCornerButton
a {
  color: #717171;
  font-weight: bold;
  text-decoration: none;
}

a:focus, a:hover {
  color:black;
}

button,
input,
select,
textarea {
  font-size: 100%;
  //margin: 25px;
  vertical-align: middle;
  border-radius: 4px;
}
button,
input {
  overflow: visible;
  line-height: normal;
}

textarea {
  overflow: auto;
  vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

// input {
//   border: 1px solid #8E8E8E;
// }
// input:-webkit-autofill {
//     -webkit-text-fill-color: yellow !important;
// }

// .shimmer {
//   display: inline-block;
//   color: linear-gradient( to right, orange , yellow, green, cyan, blue, violet);;
//   //background: #acacac -webkit-gradient(linear, 100% 0, 0 0, from(#acacac), color-stop(0.5, #ffffff), to(#acacac));
//   background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
//   background-position: -4rem top; /*50px*/
//   background-repeat: repeat;
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   -webkit-animation-name: shimmer;
//   -webkit-animation-duration: 25s;
//   -webkit-animation-iteration-count: infinite;
//   -webkit-background-size: 4rem 100%; /*50px*/
  
// }

// @-webkit-keyframes shimmer {
//     0% {
//         background-position: -4rem top; /*50px*/
//     }

//     70% {
//         background-position: 12.5rem top; /*200px*/
//     }

//     100% {
//         background-position: 12.5rem top; /*200px*/
//     }
// }