/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

element.style {
    background-color: white;
    border-radius: 10px;
    margin: 0px auto;
    width: 484px;
    height: auto;
}

div {
    display: block;
}

html, body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: rgb(33, 25, 34);
    font-size: 12px;
    height: 100%;
}




 html {
   background-color: rgb(248, 213, 243);
   text-size-adjust: none;
 }

 html, body {
    font-family: Apple Chancery;
    color: purple;
    font-size: 25px;
    height: 100%;
}

body {
  position: relative;
}


a {
  color: #717171;
  font-weight: bold;
  text-decoration: none;
}

a:focus, a:hover {
  color: red;
}


/* button, input, select, textarea {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 100%;
  vertical-align: middle;
  margin: 1000px;
} */


div {
  display: block;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
ul {
  display: block;
}


button,
input,
select,
textarea {
  font-size: 100%;
  margin: 25px;
  vertical-align: middle;
}
button,
input {
  overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 10px;
  border: 0;
}
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type='search'] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

textarea {
  overflow: auto;
  vertical-align: top;
}
body {
  margin: 110px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

figure {
  margin: 0;
}

.app {
  margin-top: -1px;
  min-width: 320px;
  padding-top: 1px;
}


