/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 html {
   background-color: rgb(248, 213, 243);
   text-size-adjust: none;
 }

 html, body {
    font-family: Apple Chancery;
    color: rgb(112, 39, 96);
    font-size: 25px;
    //height: 100%;
}

//leftCornerButton
a {
  color: #717171;
  font-weight: bold;
  text-decoration: none;
}

a:focus, a:hover {
  color:black;
}

button,
input,
select,
textarea {
  font-size: 100%;
  //margin: 25px;
  vertical-align: middle;
  border-radius: 4px;
}
button,
input {
  overflow: visible;
  line-height: normal;
}

// button::-moz-focus-inner,
// input::-moz-focus-inner {
//   padding: 10px;
//   border: 0;
// }

textarea {
  overflow: auto;
  vertical-align: top;
}
// body {
//   margin: 110px;
// }
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}






