.login-form-container {
    
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;

  .form-box {
    text-align: center;
    align-items: center;
    justify-content: center;   //not present
    // width: 430px;
    // height: 430px;
    min-width: 420px;
    min-height: 420px;
    border-radius: 10px;
    position: absolute;
    background-color: white; 
    padding: 10px 10px;

      h1 {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      h2 {
      font-size: 16px;
      //margin-bottom: 20px;
      align-items: center;
      text-align: center;
      width: 290px;
      }
  }
}

.demo-btn, .session-submit {
  background-color:black;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  color: pink;
  font-size: 15px;
  font-weight: 400;
  height: 36px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 8px 14px;
  text-align: center;
  width: 290px;
}

.login-input {
  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
//not present
.session-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  .login-input::placeholder {
    color: darkgrey;
  }
}

.logo-box {
  width: 50px;
}

.small-logo {
  width: 42.44px;
}

#logo {
  font-size: 24px;
}

